body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

header {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
}

.hero {
    max-width: 800px;
    margin: 80px auto;
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
}
form {
    margin-top: 20px;
}

input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.card {
    background: #f9fafb;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: left;
}